*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar{
    width: 100%;
    height: 70px;
    background: #6BBBEF;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #DDF2FF;
}

.btn-login{
    background: white;
    color: #2E4A62;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-login:hover{
    background: #F0F9FF;
}

/*Parte inicial de la pagina*/

body{
    background: #F5FAFF;
}

.hero{
    max-width: 1200px;
    margin: 60px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px;
}

.hero-text{
    width: 50%;
}

.hero-text h1{
    font-size: 48px;
    color: #2E4A62;
    margin-bottom: 20px;
}

.hero-text p{
    color: #5A7285;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.btn-comenzar{
    background: #6BBBEF;
    color: white;
    text-decoration: none;

    padding: 15px 25px;
    border-radius: 10px;

    font-weight: bold;
}

.btn-comenzar:hover{
    background: #54AEE7;
}

.hero-image img{
    width: 450px;
}

.funciones{
    text-align: center;
    padding: 50px;
}

.funciones h2{
    color: #2E4A62;
    margin-bottom: 40px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    width: 200px;
    background: white;
    border: 2px solid #89CFF0;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 8px 8px 0px #BFE7FA;
}

.card h3{
    font-size: 35px;
    margin-bottom: 10px;
}

.card h4{
    color: #2E4A62;
    margin-bottom: 10px;
}

.card p{
    color: #5A7285;
    font-size: 14px;
}

/* dieño del footer*/

.footer{
    background: #12354A;
    color: white;

    margin-top: 80px;

    padding: 40px 20px;
}

.footer-content{
    max-width: 1200px;
    margin: auto;

    text-align: center;
}

.footer h3{
    color: #6BBBEF;
    margin-bottom: 15px;
}

.footer p{
    color: #DDF2FF;
    margin-bottom: 15px;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 25px;

    margin: 20px 0;
    flex-wrap: wrap;
}

.footer-links a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover{
    color: #6BBBEF;
}

.copyright{
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.8;
}